<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- localhost -->
    <add key="serv" value="bd.omgperu.com" />
    <add key="port" value="3306" />
    <!-- root -->
    <add key="user" value="coopera" />
    <!-- 20430100344 -->
    <add key="pass" value="Artesanos00#" />
    <!-- coop2018 -->
    <add key="data" value="coop2_0" />
    <add key="ConnectionLifeTime" value="300" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="conectFE" value="conectorJson.exe" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>